body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  background-color: #fdeefd;
}

header{
  position: sticky;
}

header h1 {
 font-family: 'Playfair Display SC', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 4em;
  color: #222222;
  text-align: center;
}

.post-detail {
  width: 70%;
  margin: 0 auto 10px;
  text-align: center;
}

.post-info {
  color: #be9656;
  font-style: italic;
  position: relative;
  display: block;
  font-size: 20px;
}

.post-info:before {
  content: "";
  border-bottom: 1px solid #be9656;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
}

.post-info span {
  display: inline-block;
  padding: 0 1.2em;
  background: #fdeefd;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw;
  gap: 5vw;
}

.content {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 15vw;
  min-width: 400px;
  cursor: pointer;
}

.item img {
  width: 100%;
}

.item h2 {
  margin: 0;
  font-size: 2em;
  text-wrap: balance;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  body {
    font-size: 12px;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  body {
    font-size: 14px;
  }
  
  .item {
    width: 70vw;
  }
}
