<div class='post-det'></div>
<div class="footer-content">

<div class="about">
  <h3>Аўтары</h3>
  <p>
    Дуб Ульяна Аляксандраўна
    <br>
    Лявонцьева Таццяна Сяргееўна
  </p>
</div>
            
<div class="about">
  <h3>Кантакт</h3>
  <p>
    dubu5784@gmail.com
    <br>
    tanialeo01@gmail.com
  </p>
  <p>Беларусь, г. Светлагорск,<br> Вуліца Пясочная, 22а.</p>
</div>
            
<div class="about">
  <h3>Наша місія</h3>
  <p>
    Расказаць вам аб трагічным мінулым, <br>
    паказаць культурнае багацце, <br>
    нагадаць людзям пра значнасць гістарычных падзей.
  </p>
</div>
</div>
<div class="lang">
  <span></span>
 </div>

