<div class='post-det'></div>
<div class="footer-content">

<div class="about">
  <h3>Authors</h3>
  <p>
    Dub Ulyana Alexandrovna
    <br>
    Leontyeva Tatyana Sergeevna
  </p>
</div>
            
<div class="about">
  <h3>Contacts</h3>
  <p>
    dubu5784@gmail.com
    <br>
    tanialeo01@gmail.com
  </p>
  <p>Belarus, Svetlogorsk,<br> Pesochnaya street, 22A.</p>
</div>
            
<div class="about">
  <h3>Our goal</h3>
  <p>
    Tell you about the tragic past,<br>
    show cultural wealth,<br>
    remind people of the significance of historical events.
  </p>
</div>
</div>
<div class="lang">
  <span></span>
 </div>

