<div class='post-det'></div>
<div class="footer-content">

<div class="about">
  <h3>Авторы</h3>
  <p>
    Дуб Ульяна Александровна
    <br>
    Леонтьева Татьяна Сергеевна
  </p>
</div>
            
<div class="about">
  <h3>Контакты</h3>
  <p>
    dubu5784@gmail.com
    <br>
    tanialeo01@gmail.com
  </p>
  <p>Беларусь, г. Светлогорск,<br> улица Песочная,22А.</p> 
</div>
            
<div class="about">
  <h3>Наша миссия</h3>
  <p>
    Рассказать вам о трагическом прошлом, <br>
    показать культурное богатство, <br>
    напомнить людям о значимости исторических событий.
  </p>
</div>
</div>
<div class="lang">
  <span></span>
 </div>

