nav {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 20%;
}

.menuItem {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(10deg);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
}

.menuItem a {
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-size: 3em;
}

#menuItem1 {
  background: url(./surs/war.jpg);
  box-shadow: inset 0 0 0 200vw rgba(124, 197, 119, 0.6);
}

#menuItem2 {
  background: url(./surs/museam.jpg);
  box-shadow: inset 0 0 0 200vw rgba(191, 201, 119, 0.6);
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
}

#menuItem3 {
  background: url(./surs/culture.jpg);
  box-shadow: inset 0 0 0 200vw rgba(192, 119, 119, 0.6);
}

#menuItem4 {
  background: url(./surs/gomel.jpeg);
  box-shadow: inset 0 0 0 200vw rgba(125, 117, 176, 0.6);
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
}

